body {
    margin: 18px auto;
    background: #fff;
    width: 90%;
    background-color: lightblue;
}

.centertitle {
    text-align: center;
}

p {
    color: #222;
}

.footer {
  background-color: #04AA6D;
    margin-top: 30px;
    text-align: center;
    height: 80px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
}



.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
