{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<p class="important">
Välkommen till en sida om mig.
<img src="img/me2.jpg" width="200px" alt="Me">
</p>
<p><a href="{{ absolute_url("img/me2.jpg") }}">View the image</a></p>
<p>Mitt namn är Mattias Ahlén. Jag är uppvuxen i Skövde, men bor sedan många i Stockholmstrakten. Jag bor och arbetar i Nacka. Här bor jag med mina 2 pojkar Jakob och David och min fru.</p>



<p>Programmering har alltid intresserat mig. Jag började bli intresserad av datorer och programmering vid mycket tidig ålder. </p>


<p>Jag började med webbprogrammering i mitten på 90-talet. Jag har undervisat i det i många år också.
    Utvecklingen har dock gått rasade snabbt de senaste 20 åren, så det passade bra att gå en kurs. Jag senaste åren lagt ner mer tid på programmering.
 Jag gick 2 kurser i javaprogrammering. Sedan en pythonkurs. Efter det tyckte jag det vore bra att bli bättre på webbprogrammering.
 Jag anmälde mig till kurserna på BTH. På distans och halvfart. Hittills har jag klarat av 15 hp här. Jag tycker att det har varit väldigt roligt och intressant.
</p>

<p>Nästan all min fritid går åt till mina barn, vilket givetvis är väldigt roligt. Förutom det har jag också lyckats börja den här halvtidskursen på BTH ihop med ett heltidsjobb.</p>

<p>Vi syns och hörs i Discord!</p>




<p>Run the <a href="{{ path("lucky-number") }}">Lucky number lottery.</a></p>
{% endblock %}
